@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'SPG';
  src: url('/fonts/SeattlePrintersGuild-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-spg-yellow: #FCC94C;
  --color-spg-green: #439846;
  --color-spg-blue: #3667A9;
  --color-spg-pink: #DE98B4;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-body: "Arial", sans-serif;
  --font-spg: "SPG", sans-serif
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  Arial, Helvetica, sans-serif;
}
